modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["psmisc"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 10862
externalPort = 8008
exposeLocalhost = true

[[ports]]
localPort = 13172
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 13721
externalPort = 6800
exposeLocalhost = true

[[ports]]
localPort = 16270
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 20937
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 22559
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 34875
externalPort = 8000

[[ports]]
localPort = 36765
externalPort = 6000
exposeLocalhost = true

[[ports]]
localPort = 40694
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 42321
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 50839
externalPort = 4200
exposeLocalhost = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
